
.App-header {
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-bottom: var(--border-bottom);
  font-size: var(--header-font-size);
  color: #E0354B;
}

.App-header img {
  width: 250px;
  height: 250px;
}

.App-body {
  font-size: var(--gen-font-size);
  padding: var((--padding) * 2);
  border-bottom: var(--border-bottom);
  height: 45%;
}

.App-footer {
  font-size: var(--gen-font-size);
  padding: var(--padding);
  text-align: center;
  font-style: italic;
}
